<!DOCTYPE html>
<html>
<head>
	<title>Aanwezigheidssysteem</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h2>Aanwezigheidssysteem</h2>
		{% for row in lessen %}
		<form method="post" action="{{ url_for('docent_dashboard') }}">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Les ID</th>
						<th>Vak</th>
						<th>Datum</th>
						<th>Starttijd</th>
						<th>Eindtijd</th>
						<th>Code</th>
						<th>Reden</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ row[0] }}</td>
						<td>{{ row[1] }}</td>
						<td>{{ row[2] }}</td>
						<td>{{ row[3] }}</td>
						<td>{{ row[4] }}</td>
						<td><input type="text" name="code" class="form-control" required></td>
						<td><input type="text" name="reden" class="form-control"></td>
						<input type="hidden" name="les_id" value="{{ row[0] }}">
					</tr>
				</tbody>
			</table>
			<button type="submit" class="btn btn-primary">Versturen</button>
		</form>
		{% endfor %}
	</div>
</body>
</html>