<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <header class="max-w-lg mx-auto">
    <section> 
      </section>
          <h1</h1>
          
  </header>
  <main>
   
    <section>
      <h3></h3>
      
      <p</b></p>
  </section>
            <form action="" method="POST">
                <p>
                  <label 
                  for="username"></label>
                  <div> 
                  <input type="text" placeholder="Gebruikersnaam" name="username" value="{{ request.form.username }}">
                </p>
                  </div>
                  <label for="password"></label>
                  <div>   
                <p>                  
                  <input type="password" 
                  placeholder="Wachtwoord" name="password" value="{{ request.form.password }}">
                </p>
                </div>
                <section>
                  <button type="submit">Log In</button>
                </section>
  </form>
  </section>
</main> 
</body>
</html>