{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}

<form action="action_page.php">
<div class="container">
    <label for="studentNumber"><b>Student number:</b></label>
    <input type="studentNumber" class="form-control" id="studentNumber" name="studentNumber" placeholder="Enter student number">

    <label for="attendenceCode"><b>Attendence code:</b></label>
    <input type="attendenceCode" class="form-control" id="attendenceCode" name="attendenceCode" placeholder="Enter attendence code">
    &nbsp;
    <button id="waarde">Submit Attendence</button>
</form> 
&nbsp;
&nbsp;
&nbsp;
&nbsp;


<form action="action_page">

</form>
{%endblock%}